.loader-wrapper {
  height: 100vh;
  width: 100%;
  background: #fff8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motion-loader {
  display: flex;
  gap: 12px;

  .dot {
    width: 14px;
    height: 14px;
    background-color: #c98c10;
    border-radius: 50%;
  }
}
