@font-face {
  font-family: "Enorm";
  src: url("../../assets//fonts/enorm.otf");
}

@font-face {
  font-family: "Athelas";
  src: url("../../assets//fonts/athelas.ttf");
}

@font-face {
  font-family: "Specta";
  src: url("../../assets//fonts/Specta.ttf");
}

@font-face {
  font-family: "Moela";
  src: url("../../assets//fonts/Moela.otf");
}
@font-face {
  font-family: "Haboro";
  src: url("../../assets//fonts/Haboro.otf");
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.362);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &::after {
    font-size: 18px;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 1;
  transition: all 0.3s ease;

  &-active {
    background: black;
    transform: scale(1.2);
  }
}

.HeroSlider {
  width: 100%;

  .slide-container {
    width: 100%;
    height: 100vh;
    max-height: 620px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    height: 100vh;
    gap: 2rem;
  }

  .left-side {
    position: relative;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;

    .text-content {
      position: relative;
      background-color: transparent;
      padding: 1rem;

      .heading-0 {
        font-size: clamp(1rem, 5vw, 5rem);
        margin-bottom: 1rem;
        color: #222;
        font-family: "Enorm";
      }

      .heading-1 {
        font-size: clamp(1rem, 5vw, 5rem);
        margin-bottom: 1rem;
        color: #222;
        font-family: "Athelas";
      }

      .heading-2 {
        width: 80%;
        font-size: clamp(1rem, 5vw, 5rem);
        margin-bottom: 1rem;
        color: #222;
        font-family: "Haboro";
      }

      .heading-3 {
        font-size: clamp(1rem, 5vw, 5rem);
        margin-bottom: 1rem;
        color: #222;
        font-family: "Specta";
      }

      p {
        width: 65%;
        font-size: 1.5rem;
        color: #444;
      }
    }

    .benefits {
      display: flex;
      gap: 14px;
      flex-direction: column;

      h2 {
        width: fit-content;
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 1.7rem;
        padding-bottom: 4px;
        transition: color 0.3s ease;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: black;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
    .benefits-0 {
      margin-top: 8rem;
      margin-left: 1rem;
    }

    .benefits-1 {
      margin-top: 8rem;
      margin-left: 1rem;
    }

    .benefits-2 {
      margin-top: 5rem;
      margin-left: 1rem;
    }

    .benefits-3 {
      margin-top: 5rem;
      margin-left: 1rem;
    }

    img {
      position: absolute;
      z-index: 1;
    }

    .img-0 {
      width: 550px;
      height: 600px;
      top: 0;
      right: -20px;
    }

    .img-1 {
      width: 400px;
      height: 400px;
      top: 90px;
      right: 20px;
    }

    .img-2 {
      width: 350px;
      height: 400px;
      bottom: 100px;
      right: 50px;
    }

    .img-3 {
      width: 600px;
      height: 600px;
      top: -30px;
      right: -20px;
    }
  }
  .right-side {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    padding: 1rem;

    .video-0 {
      width: 400px;
      height: 350px;
      border-radius: 12px;
    }

    .video-1 {
      width: 400px;
      height: 400px;
    }

    .video-2 {
      width: 500px;
      height: 300px;
    }

    .video-3 {
      width: 400px;
      height: 400px;
    }
  }
}
