@font-face {
  font-family: "Enorm";
  src: url("../../assets//fonts/enorm.otf");
}
@font-face {
  font-family: "Athelas";
  src: url("../../assets//fonts/athelas.ttf");
}
@font-face {
  font-family: "Specta";
  src: url("../../assets//fonts/Specta.ttf");
}
@font-face {
  font-family: "Moela";
  src: url("../../assets//fonts/Moela.otf");
}
@font-face {
  font-family: "Haboro";
  src: url("../../assets//fonts/Haboro.otf");
}
@font-face {
  font-family: "Honest";
  src: url("../../assets//fonts/Honest.otf");
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: clamp(30px, 3vw, 40px);
  height: clamp(30px, 3vw, 40px);
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: clamp(10px, 3vw, 12px);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.858);
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 1;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: black;
  transform: scale(1.2);
}

.HeroSlider {
  width: 100%;
}
.HeroSlider .slide-container {
  width: 100%;
  height: 100vh;
  max-height: 685px;
  display: flex;
  align-items: center;
  gap: clamp(2px, 1vw, 4px);
}
.HeroSlider .left-side {
  position: relative;
  width: 65%;
  height: 100%;
  display: flex;
  padding: clamp(10px, 3vw, 15px) clamp(6px, 3vw, 30px);
}
.HeroSlider .left-side .text-content {
  position: relative;
  background-color: transparent;
  padding: clamp(5px, 2vw, 10px) clamp(6px, 3vw, 15px);
}
.HeroSlider .left-side .text-content .heading {
  margin-bottom: clamp(10px, 2vw, 1rem);
  line-height: 1.2;
}
.HeroSlider .left-side .text-content .heading-0 {
  width: clamp(60%, 5vw, 80%);
  font-size: clamp(2rem, 5vw, 5rem);
  color: #222;
  font-family: "Enorm", "general sans", "helvetica", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.HeroSlider .left-side .text-content .heading-1 {
  width: 80%;
  font-size: clamp(1rem, 6vw, 6rem);
  color: #222;
  font-family: "Athelas", "general sans", "helvetica", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.HeroSlider .left-side .text-content .heading-2 {
  width: 80%;
  font-size: clamp(1rem, 5vw, 5rem);
  color: #222;
  font-family: "Honest", "general sans", "helvetica", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.HeroSlider .left-side .text-content .heading-3 {
  font-size: clamp(1rem, 5vw, 5rem);
  color: #222;
  font-family: "Specta", "general sans", "helvetica", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.HeroSlider .left-side .text-content p {
  width: clamp(50%, 33vw, 60%);
  padding: 0 clamp(8px, 2vw, 20px);
  margin-right: clamp(16px, 3vw, 50px);
  font-size: clamp(8px, 3.3vw, 20px);
  color: rgba(68, 68, 68, 0.9294117647);
  font-family: "general sans", "helvetica", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 10;
}
.HeroSlider .left-side img {
  position: absolute;
}
.HeroSlider .left-side .img-0 {
  right: clamp(30px, 7vw, 100px);
  top: clamp(20px, 3vw, 40px);
  width: clamp(200px, 40vw, 400px);
  height: clamp(200px, 40vw, 450px);
}
.HeroSlider .left-side .img-1 {
  right: clamp(50px, 7vw, 60px);
  top: clamp(60px, 15vw, 100px);
  width: clamp(200px, 30vw, 360px);
  height: clamp(200px, 30vw, 380px);
}
.HeroSlider .left-side .img-2 {
  right: clamp(35px, 5vw, 40px);
  top: clamp(50px, 10vw, 100px);
  width: clamp(200px, 30vw, 280px);
  height: clamp(200px, 30vw, 350px);
}
.HeroSlider .left-side .img-3 {
  right: clamp(-50px, 5vw, -20px);
  top: clamp(10px, 8vw, 70px);
  width: clamp(200px, 40vw, 450px);
  height: clamp(200px, 40vw, 450px);
}
.HeroSlider .left-side .benefits {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: clamp(4px, 1.5vw, 14px);
  flex-direction: column;
}
.HeroSlider .left-side .benefits h2 {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: "Athelas", "general sans", "helvetica", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(12px, 3vw, 25px);
  padding-bottom: clamp(1px, 2vw, 4px);
  transition: color 0.3s ease;
}
.HeroSlider .left-side .benefits h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.HeroSlider .left-side .benefits h2:hover::after {
  transform: scaleX(1);
}
.HeroSlider .left-side .benefits-0 {
  margin-top: clamp(4rem, 10vw, 8rem);
  margin-left: 1rem;
}
.HeroSlider .left-side .benefits-1 {
  margin-top: clamp(4rem, 5vw, 8rem);
  margin-left: 1rem;
}
.HeroSlider .left-side .benefits-2 {
  margin-top: clamp(4rem, 5vw, 8rem);
  margin-left: 1rem;
}
.HeroSlider .left-side .benefits-3 {
  margin-top: clamp(4rem, 5vw, 8rem);
  margin-left: 1rem;
}
.HeroSlider .right-side {
  padding: 0 clamp(10px, 5vw, 20px);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.HeroSlider .right-side .video-0 {
  width: clamp(200px, 50vw, 400px);
  height: clamp(200px, 50vw, 400px);
}
.HeroSlider .right-side .video-1 {
  width: clamp(200px, 50vw, 400px);
  height: clamp(200px, 50vw, 400px);
}
.HeroSlider .right-side .video-2 {
  margin-right: 2rem;
  width: clamp(150px, 30vw, 250px);
  height: clamp(200px, 30vw, 300px);
}
.HeroSlider .right-side .video-3 {
  width: clamp(300px, 40vw, 300px);
  height: clamp(200px, 50vw, 400px);
}
.HeroSlider .right-side .buy-now-btn {
  padding: clamp(7px, 2vw, 10px) clamp(10px, 2vw, 20px);
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: clamp(10px, 2vw, 1rem);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.HeroSlider .right-side .buy-now-btn:hover {
  background-color: #222;
  transform: scale(1.1);
}
.HeroSlider .right-side .buy-now-btn:active {
  background-color: #111;
  transform: scale(0.95);
}
.HeroSlider .right-side .buy-now-btn::after {
  content: "";
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.HeroSlider .right-side .buy-now-btn:active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: 0s;
}

@media (max-width: 600px) {
  .HeroSlider .slide-container {
    max-height: clamp(420px, 15vw, 450px);
  }
  .HeroSlider .slide-container .left-side .product-img img {
    display: none;
  }
  .HeroSlider .slide-container .left-side .text-content .heading-0 {
    width: clamp(60%, 2vw, 80%);
    font-size: clamp(1.5rem, 3vw, 3rem);
  }
}
@media (max-width: 1050px) {
  .left-side .product-img .img-0 {
    right: clamp(5px, 2vw, 10px);
    top: clamp(7px, 5vw, 20px);
    width: clamp(200px, 30vw, 550px);
    height: clamp(200px, 40vw, 350px);
  }
  .left-side .product-img .img-1 {
    right: clamp(-45px, 5vw, -30px);
    top: clamp(35px, 8vw, 80px);
    width: clamp(270px, 30vw, 300px);
    height: clamp(290px, 30vw, 380px);
  }
  .left-side .product-img .img-2 {
    right: clamp(5px, 2vw, 30px);
    top: clamp(80px, 10vw, 100px);
    width: clamp(200px, 20vw, 300px);
    height: clamp(290px, 30vw, 400px);
  }
  .left-side .product-img .img-3 {
    right: clamp(-55px, 5vw, -50px);
    top: clamp(40px, 10vw, 80px);
    width: clamp(300px, 25vw, 400px);
    height: clamp(280px, 25vw, 400px);
  }
}/*# sourceMappingURL=HeroSec.css.map */