@font-face {
  font-family: "Pafigo";
  src: url('../../../../assets/fonts/Pafigo.ttf');
}

.marquee-section {
  background-color: #40916c;
  padding:clamp(1rem, 5vw, 2rem) 0;
  font-size: clamp(1.8rem, 5vw, 3rem);

  .dots {
    color: white;
  }

  .marquee-item {
    margin: 0 2rem;
    white-space: nowrap;
    font-weight: 600;
    color: #f6f4f2;
    font-family: "Pafigo", serif;
    font-weight: 800;
    letter-spacing: 4px;
    
    &:hover {
      color: #0f0502;
      transition: color 0.3s;
    }
  }
}
