@font-face {
  font-family: "haboro";
  src: url("../../../assets/fonts/ibrands.otf");
}

.menu_items {
  display: none;
}

.menu_items a {
  background: radial-gradient(
    circle at top left,
    #309366,
    #217e54 ,
    #0c8e53
  );
  padding: 2rem;
  color: rgb(238, 253, 233);
  display: flex;
  gap: 10px;
  align-items: flex-end;

  text-decoration: none;
  padding: 10px 10px;
}

span {
  font-family: "haboro";
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .menu_items {
    width: 102vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -1%;
  }
}
