@font-face {
  font-family: "Auge";
  src: url("../../assets//fonts//Auge.otf");
}

.marquee-section {
  background-color: #40916c;
  padding: 1.5rem 0;
  font-size: 3rem;

  .dots {
    color: white;
  }

  .marquee-item {
    margin: 0 2rem;
    white-space: nowrap;
    font-weight: 600;
    color: #f6f4f2;
    font-family: "Auge" serif;

    &:hover {
      color: #0f0502;
      transition: color 0.3s;
    }
  }
}
